<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Dev Skills</title>
</head>
<body>
    <h2>-> <%= skill.skill %></h2>
    <h3>Level: <%= skill.level %></h3>
    <a href="/skills/<%= skill.id%>/edit">Update a skill</a>
</body>
</html>